<%- include("../includes/header.ejs", {title:"Players - " + result.player_name}); %>

<h1>Player:</h1>
<ul>
    <li>Player Name: <%= result.player_name%></li>
    <li>Game Title They Play: <%= result.game_title %></li>
    <li>Team: <%= result.team_name %></li>



    <% if(result.KDA != null){ %>
    <li>KDA: <%= result.KDA %></li>
    <% } %>


    <% if(result.MapStage_Winrate != null){ %>
    <li>Maps/Stages and their Winrates:
        <ul>
            <% for(var i=0; MapStage.length > i; i++ ) { %>
            <li><%= MapStage[i][0] %> <%= ': '%>  <%= MapStage[i][1] %> <%='%'%></li>
            <% } %>
        </ul>
    </li>
    <% } %>



    <% if(result.CharacterHero_Winrate != null){ %>
    <li>Characters/Heroes and their Winrates:
        <ul>
            <% for(var i=0; CharacterHero.length > i; i++ ) { %>
            <li><%= CharacterHero[i][0] %> <%= ': '%> <%= CharacterHero[i][1] %> <%='%'%></li>
            <% } %>
        </ul>
    </li>
    <% } %>


</ul>
<br />
<a href="/players/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
