<%- include("../includes/header.ejs", {title:"Tournaments - View All"}); %>

<h1>Tournaments</h1>
<a href="/tournaments/add">Add New Tournament</a> <br />

<table border="1">
    <tr><th>Tournament Name</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/tournaments/?tournament_id=<%= result[i].tournament_id %>"><%= result[i].Tournament_Name%> </a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/tournaments/edit/?Tournament_Name=<%= result[i].Tournament_Name %>'">Edit</button>
            <form action="/tournaments/delete/" style="display:inline;">
                <input type="hidden" name="Tournament_Name" id="Tournament_Name" value="<%= result[i].Tournament_Name %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br />
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>