<%- include("../includes/header.ejs", {title:"Game Titles - View All"}); %>


<h1>Game Titles</h1>
<a href="/gametitle/add">Add New Game Titles</a> <br />

<table border="1">
    <tr><th>Game Title</th><th>Team Based or 1v1</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/gametitle/?gametitle_id=<%= result[i].gametitle_id %>"><%= result[i].Game_Title%> </a></td>
        <td><%= result[i].Team_Based_or_1v1 %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/gametitle/edit/?Game_Title=<%= result[i].Game_Title %>'">Edit</button>
            <form action="/gametitle/delete/" style="display:inline;">
                <input type="hidden" name="gametitle_id" id="gametitle_id" value="<%= result[i].gametitle_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br />
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>